body {
  margin: 0px;
  background-color: #cdf0ea;
  text-align: center;
  font-family: "Merriweather", "Trebuchet MS", Verdana, sans-serif;
  color: #40514e;
}

a {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

hr {
  border: none;
  border-color: #eaf6f6;
  border-top-style: dotted;
  width: 6%;
  height: 1px;
  border-width: 14px;
  margin: 60px auto;
}

h1 {
  /* recenters the h1*/
  margin: 50px auto 0 auto;
  font-size: 90px;
  font-family: "Sacramento", Arial, sans-serif;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.programming-photo {
  padding-top: 6%;
  width: 27%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.profile {
  width: 50%;
  /*  Stets the text to be in the center of the page  */
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.profile-photo {
  width: 50%;
}

.tkd-photo {
  width: 27%;
  float: left;
  margin-right: 30%;
  padding-top: 6%;
}

.skill {
  color: #11999e;
}

.web-photo {
  width: 27%;
  float: right;
  margin-left: 30px;
  padding-top: 6%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  line-height: 2;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  font-family: "Montserrat", sans-serif;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/*  Code for the button to the end of the code  */

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
